th {
    border: 1px #DDD solid;
    padding: 5px;
}

td {
    border: 1px #DDD solid;
    padding: 5px;
    cursor: pointer;
}

.selected {
    background-color: brown;
    color: #FFF;
}

.plus-sign {
    font-weight: bold;
    font-size: 15px;
}

#edit-form {
    display: block;
}